@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-image: linear-gradient(to right, #F1D8C9, #F2c3a7);
}
main{
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(155, 124, 107,0.6);/*para o lado/para baixo/espalhar/cor e transparência*/
    width: 600px;
    padding: 20px;
    margin: auto;
}
h1{
    color: #f39209;
    text-align: center;
    text-shadow: 1px 1px 2px #633b04cb;
}
h2{
    color: #125189
}
p{
    text-align: justify;
}
